.plate {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 2px;
  background: #555;
  border: 1px solid #333;
  border-radius: 3px;
}

@keyframes open-plate {
  0% {
    background: #555;
    transform: rotateX(0deg);
  }
  50% {
    background: #555;
    transform: rotateX(90deg);
  }
  51% {
    background: #eee;
    transform: rotateX(90deg);
  }
  100% {
    background: #eee;
    transform: rotateX(0deg);
  }
}

@keyframes open-plate-with-item {
  0% {
    background: #555;
    transform: rotateX(0deg);
  }
  50% {
    background: #555;
    transform: rotateX(90deg);
  }
  51% {
    background: url('./img/ring.png');
    background-size: 100% auto;
    transform: rotateX(90deg);
  }
  100% {
    background: url('./img/ring.png');
    background-size: 100% auto;
    transform: rotateX(0deg);
  }
}

.plate.opened {
  animation: open-plate .5s ease-in-out;
  background: #eee;
}

.plate.with-item.opened {
  animation: open-plate-with-item .5s ease-in-out;
  background: url('./img/ring.png');
  background-size: 100% auto;
}